{% extends 'base.twig' %}

{% block body %}
    <div class="login-form">
        <h1>Register Form</h1>
    <form method="post" action="/register" validate>
        <div class="form-field">
            <label for="name">Name</label>
            <input class="input" id="name" name="name" type="text" />
        </div>
        <div class="form-field">
            <label for="username">Username</label>
            <input class="input" id="user" name="username" type="text" value="" />
        </div>
        <div class="form-field">
            <label for="email">Email</label>
            <input class="input" id="email" name="email" type="email" value="" />
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input class="input" id="password" name="password" type="password" value="" />
        </div>

        <div class="form-actions">
            <button class="btn btn-success submitButton" type="submit">Register</button>
        </div>
    </form>
        {% if error %}
        <h5>{{ error }}</h5>
        {% endif %}
    </div>
{% endblock %}
